<form class="flex flex-column">
    <div class="input-box">
        <h3>{{ "Directors Information"}}</h3>
        <p>Provide the following information for each director of the entity. </p>
        <div class="flex gap-4 justify-content-between flex-column lg:flex-row">
            <!-- First Name -->
            <div class="form-group col p-0">
                <label for="">{{ "account.firstName" | translate }}</label>
                <input type="text">
                <!-- <div class="error"
                     *ngIf="x.get('firstName').hasError('required') && x.get('firstName').touched">
                    <i class="pi pi-info-circle"></i>
                    <span>{{ "personalInformation.mandatoryField" | translate }}</span>
                </div> -->
            </div>
            <!-- Last Name -->
            <div class="form-group col p-0">
                <label for="">{{ "account.lastName" | translate }}</label>
                <input type="text">
                <!-- <div class="error"
                     *ngIf="x.get('lastName').hasError('required') && x.get('lastName').touched">
                    <i class="pi pi-info-circle"></i>
                    <span>{{ "personalInformation.mandatoryField" | translate }}</span>
                </div> -->
            </div>
        </div>
        <!-- Address -->
        <div class="form-group col p-0">
            <label for="">{{ "Address" | translate }}</label>
            <input type="text">
            <!-- <div class="error"
                         *ngIf="x.get('firstName').hasError('required') && x.get('firstName').touched">
                        <i class="pi pi-info-circle"></i>
                        <span>{{ "personalInformation.mandatoryField" | translate }}</span>
                    </div> -->
        </div>

    </div>
</form>