<div class="advisor-container">
    <div class="title">
        <h3>Advisor</h3>
        <div class="btn btn-sm btn-primary">Change Advisor</div>
    </div>
    <div class="advisor">
        <img src="https://i.insider.com/5ca389adc6cc503c5a53fd96?width=600&format=jpeg"
             alt="">
        <div class="details">
            <h3>Adam johns</h3>
            <p>Seasoned finance professional with 15+ years of expertise in portfolio management and risk assessment.
            </p>
        </div>
    </div>
</div>