<div class="opportunities-container">
    <div class="opportunities-inner">
        <!-- Tabs -->
        <div class="tabs">
            <ul>
                <li class="active">
                    <button>All Offerings</button>
                </li>
                <li>
                    <button>Crowdfunds</button>
                </li>
                <li>
                    <button>OM</button>
                </li>
                <li>
                    <button>AI</button>
                </li>
            </ul>
        </div>


        <!-- Filter -->
        <div class="filter">
            <div class="disclaimer">
                <p>Please read our <a href="">investor terms</a> and <a href="">disclaimer</a></p>
            </div>

            <div class="filter-options">
                <button class="filter-btn">
                    <i class="pi pi-filter"></i>
                    Filters
                </button>
                <button class="popularity-btn">
                    Popularity
                    <i class="pi pi-chevron-down"></i>
                </button>

                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-search" />
                    <input type="text"
                           pInputText
                           placeholder="Search" />
                </p-iconField>
            </div>
        </div>


        <!-- Filter form -->
        <div class="filter-form">
            <div class="input-1 input-group">
                <label class="title"
                       for="">Opportunity state </label>
                <ul>
                    <li>
                        <input checked
                               name="input-1"
                               id="option-1"
                               type="radio">
                        <label for="option-1">Coming</label>
                    </li>
                    <li>
                        <input name="input-1"
                               id="option-2"
                               type="radio">
                        <label for="option-2">Close</label>
                    </li>
                    <li>
                        <input name="input-1"
                               id="option-3"
                               type="radio">
                        <label for="option-3">Open</label>
                    </li>
                </ul>
            </div>
            <div class="input-2 input-group">
                <label class="title"
                       for="">Sectors </label>
                <ul>
                    <li>
                        <input checked
                               name="input-2"
                               id="option-4"
                               type="radio">
                        <label for="option-4">Coming</label>
                    </li>
                    <li>
                        <input name="input-2"
                               id="option-5"
                               type="radio">
                        <label for="option-5">Close</label>
                    </li>
                    <li>
                        <input name="input-2"
                               id="option-6"
                               type="radio">
                        <label for="option-6">Open</label>
                    </li>
                </ul>
            </div>

        </div>

        <!-- Projects total -->
        <div class="total">
            <p>Explore<span> 3,072 projects</span></p>
        </div>

        <!-- Listing -->

        <div class="grid">
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>
            <div class="col  lg:col-6 xl:col-4">
                <app-opportunity-card></app-opportunity-card>
            </div>

        </div>
    </div>
</div>