.success-container {
    min-height: 100vh;
    height: 100%;
    background-color: #fafafa;

    .logo {
        width: 100%;
        background-color: #EDEFDC;
        display: flex;
        align-items: center;
        padding: 1.25rem 1rem;
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            width: 6.9375rem;
            height: 6.9375rem;
            margin-bottom: 1.75rem;
        }

        .text-1 {
            font-weight: 600;
            font-size: 1.5rem;
            color: #1D1F1F;
            margin-bottom: 1rem;
        }


        .text-2 {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 140%;
            color: #666666;
            margin-bottom: 2.125rem;
        }

        .text-3 {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 140%;
            color: #666666;
            margin-bottom: 1rem;
        }

        .text-4 {
            margin-bottom: 1.5rem;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 140%;
            color: #1D1F1F;
        }

        .text-5 {
            font-weight: 500;
            font-size: 1rem;
            line-height: 140%;
            color: #666666;
            margin-bottom: 1.5rem;

        }
    }
}