footer {
    background-color: #1A1A1A;
    padding: 2rem 1rem 4rem 1rem;

    .inner {
        margin: 0 auto;
        max-width: 1280px;

        .first-row {
            display: flex;
            align-items: center;
            gap: 2rem;
            flex-wrap: wrap;

            p {
                font-weight: 500;
                font-size: 1rem;
                line-height: 140%;
                color: #A5A5A5;
                max-width: 924.27px;
            }
        }

        .separator {
            margin: 2.5rem 0;
            border-bottom: 1px solid #444444;
        }

        .second-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2rem;

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                gap: 1rem;

                li a {
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 140%;
                    color: #FFFFFF;

                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }

        .third-row {
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2rem;

            a {
                font-weight: 400;
                font-size: .875rem;
                line-height: 140%;
                color: #FFFFFF;

            }

            p {
                display: flex;
                align-items: center;
                gap: .75rem;
                font-weight: 400;
                font-size: .75rem;
                line-height: 180%;
                color: #FFFFFF;

            }
        }
    }
}