<footer>
    <div class="inner">
        <div class="first-row">
            <img src="/assets/images/logo-white.svg"
                 alt="">
            <p>
              {{footerDate?.mainText}}
            </p>
        </div>

        <div class="separator"></div>


        <div class="second-row">
            <ul>
                <li>
                    <a href="">
                        Home
                    </a>
                </li>
                <li>
                    <a href="">
                        Investing
                    </a>
                </li>
                <li>
                    <a href="">
                        Raising
                    </a>
                </li>
                <li>
                    <a href="">
                        About us
                    </a>
                </li>
                <li>
                    <a href="">
                        Contact us
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="{{footerDate?.xUrl}}" target="_blank">
                        <i class="pi pi-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="{{footerDate?.facebookUrl}}" target="_blank">
                        <i class="pi pi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="{{footerDate?.instagramUrl}}" target="_blank">
                        <i class="pi pi-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="third-row">
            <a href="">
                Terms and conditions
            </a>
            <p>
              {{footerDate?.copyrights}}
                <img src="/assets/images/icon-logo.svg"
                     alt="">
            </p>
        </div>
    </div>
</footer>
