<div class="change-password-container">
    <form [formGroup]="form">
        <h3>{{ "changePass.forgetPassword" | translate }}</h3>

        <!-- Password -->
        <div class="form-group password">
            <p-floatLabel>
                <p-password [feedback]="false"
                            formControlName="password"
                            [toggleMask]="true" />
                <label for="password">{{"account.password" | translate}}</label>
            </p-floatLabel>
            <div class="error"
                 *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
                <i class="pi pi-info-circle"></i>
                <span>This field is mandatory</span>
            </div>
        </div>

        <div class="password-complexity">
            <div class="checkbox col-5">
                <p-checkbox [binary]="true"
                            readonly
                            inputId="binary" />
                <label for="">{{ "changePass.minimumCharacters" | translate }}</label>
            </div>
            <div class="checkbox col-5">
                <p-checkbox [binary]="true"
                            readonly
                            inputId="binary" />
                <label for="">{{ "changePass.oneLowercaseLetter" | translate }} </label>
            </div>
            <div class="checkbox col-5">
                <p-checkbox [binary]="true"
                            readonly
                            inputId="binary" />
                <label for="">{{ "changePass.oneSpecialCharacter" | translate }}</label>
            </div>
            <div class="checkbox col-5">
                <p-checkbox [binary]="true"
                            readonly
                            inputId="binary" />
                <label for="">{{ "changePass.oneUppercaseLetter" | translate }} </label>
            </div>
            <div class="checkbox col-5">
                <p-checkbox [binary]="true"
                            readonly
                            inputId="binary" />
                <label for="">{{ "changePass.oneNumber" | translate }}</label>
            </div>
        </div>

        <!-- Password -->
        <div class="form-group confirm-password">
            <p-floatLabel>
                <p-password [feedback]="false"
                            formControlName="passwordConfirmation"
                            [toggleMask]="true" />
                <label for="password">{{"account.confirmPassword" | translate}}</label>
            </p-floatLabel>
            <div class="error"
                 *ngIf="form.get('passwordConfirmation')?.hasError('required') && form.get('passwordConfirmation')?.touched">
                <i class="pi pi-info-circle"></i>
                <span>This field is mandatory</span>
            </div>
        </div>


        <!-- Registeration button -->
        <button type="button"
                (click)="navigateToLogin()"
                class="btn btn-primary">{{"account.confirm" | translate}}</button>


        <!-- Login link -->
        <div class="registration-link flex gap-2 justify-content-center align-items-center">
            <a [routerLink]="'/' +  routes.auth + '/' + routes.login"
               class="btn-link btn-link-primary"> {{"account.signIn" | translate}}</a>
        </div>
    </form>
</div>