.advisor-container {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 1.5rem;

    .advisor-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        background: #FFFFFF;
        border: 1px solid #D6D6D6;
        border-radius: 8px;
        text-align: center;
        // max-width: 356px;

        button {
            width: 100%;
        }

        h3 {
            font-family: var(--font-secondary);
            font-weight: 400;
            font-size: 1rem;
            line-height: 140%;
            color: #1D1F1F;
        }

        p {
            font-weight: 500;
            font-size: 1rem;
            line-height: 140%;
            color: #666666;
        }

        img {
            width: 112px;
            height: 112px;
            border-radius: 50%;
            object-fit: cover;
            background-color: #efefef;
            border-color: transparent;
        }
    }

    .single-card {
        background: #FFFFFF;
        border: 1px solid #D6D6D6;
        border-radius: 8px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .profile {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                width: 180px;
                height: 135px;
                border-radius: 8px;
            }

            .details {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h3 {
                    font-family: var(--font-secondary);
                    font-weight: 400;
                    font-size: 1.25rem;
                    line-height: 140%;
                    color: #1D1F1F;
                }

                p {
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 140%;
                    color: #666666;
                }
            }
        }

        .compliance-checks {
            padding: 1rem;
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: .8rem;

            .compliance {
                display: flex;
                align-items: center;
                gap: .8rem;

                label {
                    font-weight: 500;
                    font-size: .75rem;
                    line-height: 140%;
                    color: #1D1F1F;
                }
            }

        }
    }
}