<div class="watchlist-container">
    <div class="title">
        <h3>Watch list</h3>
    </div>
    <div class="grid">
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>
        <div class="col  lg:col-6 xl:col-6">
            <app-opportunity-card></app-opportunity-card>
        </div>

    </div>
</div>