<div class="how-it-works-container">
    <div class="inner">
        <div class="video">
            <!-- To be reviewed  -->
            <iframe src="https://www.youtube.com/embed/O6affOebZ6Y?si=JgP5I5Mz6vk0fP5a"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
        </div>

        <div class="text">
            <h1>{{content?.howItWorks?.title}}</h1>
            <p>{{content?.howItWorks?.description}}</p>
        </div>
    </div>
</div>