<div class="forget-password-container">
    <form action="">
        <h3>{{ "forgetPass.forgetPassword" | translate }}</h3>
        <p>{{ "forgetPass.typeYourE-mailAddress" | translate}}</p>


        <!-- Email -->
        <div class="form-group">
            <p-floatLabel>
                <input pInputText
                       [formControl]="email"
                       id="username" />
                <label for="username">{{ "account.email" | translate }}</label>
            </p-floatLabel>
            <div class="error"
                 *ngIf="email?.hasError('required') && email?.touched">
                <i class="pi pi-info-circle"></i>
                <span>This field is mandatory</span>
            </div>
        </div>


        <!-- Registeration button -->
        <button type="button"
                class="btn btn-primary"
                type="button"
                (click)="navigateToChangePassword()">{{ "account.confirm" | translate }}</button>


        <!-- Login link -->
        <div class="registration-link flex gap-2 justify-content-center align-items-center">
            <a [routerLink]="'/' +  routes.auth + '/' + routes.login"
               class="btn-link btn-link-primary"> {{ "account.signIn"| translate }}</a>
        </div>
    </form>
</div>