.forget-password-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 552px;

        h3 {
            font-weight: 400;
            font-size: 2rem;
            line-height: 140%;
            text-align: center;
            color: var(--color-dark);
            margin-bottom: 3.125rem;
            font-family: var(--font-secondary);
        }

        p {
            font-weight: 500;
            font-size: 1rem;
            line-height: 140%;
            color: #333333;
            text-align: center;
            margin-bottom: 1.875rem;
        }

        .form-group {
            margin-bottom: 2rem;
        }

        button {
            text-align: right;
            margin-bottom: 1.5rem;
        }


        .registration-link {
            font-weight: 400;
            font-size: 1rem;
            line-height: 140%;
            color: #A5A5A5;
        }
    }
}