form {
    .input-box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 22px 1rem;
        background: #FFFFFF;
        border-radius: 8px;

        h3 {
            font-family: var(--font-secondary);
            font-style: normal;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 140%;
            color: #1A1A1A;
        }

        .text-box {
            padding: 17px 16px;
            background: #F8F8F8;
            border: 1px solid #D6D6D6;
            border-radius: 8px;

            p {
                font-weight: 500;
                font-size: .75rem;
                line-height: 140%;
                color: #1D1F1F;

            }
        }
    }
}