<div class="home-container">
    <!-- Hero -->
    <app-hero></app-hero>

    <!-- Features -->
    <app-features></app-features>

    <!-- Opportunities -->
    <app-opportunities></app-opportunities>

    <!-- Partners -->
    <app-partners></app-partners>

    <!-- How it works -->
    <app-how-it-works></app-how-it-works>

    <!-- Stats -->
    <app-stats></app-stats>

    <!-- Feedback -->
    <app-feedback></app-feedback>

    <!-- About -->
    <app-about></app-about>

    <!-- faq -->
    <app-faq></app-faq>

    <!-- Reads -->
    <app-reads></app-reads>

</div>